.questions-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--poppins);
}

.btn-option {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.correct-answer {
    background-color: var(--right);
}

.incorrect-answer {
    background-color: var(--wrong);
}

.hide-arrow{
    display: none !important;
}

.answer-detail{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 0.9rem;
}